/* Prism syntax highlighting theme - Discord inspired */
[class*="language-"],
code[class*="language-"] {
  color: #dbdee1;
  background: none;
  font-family: "Fira Code", "Courier New", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  padding: 1.25em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.5em;
  background: #2c2f33;
}

:not(pre)>code[class*="language-"] {
  padding: 0.15em 0.3em;
  border-radius: 0.3em;
  white-space: normal;
  background: #2c2f33;
}

/* Comments */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #72767d;
}

/* Punctuation */
.token.punctuation {
  color: #dcddde;
}

/* Keywords - Discord purple */
.token.keyword,
.token.atrule {
  color: #b39ddb;
}

/* Strings - Discord green */
.token.string,
.token.attr-value,
.token.char,
.token.inserted {
  color: #43b581;
}

/* Numbers and constants - Discord orange */
.token.number,
.token.constant,
.token.symbol,
.token.property,
.token.tag,
.token.boolean {
  color: #f04747;
}

/* Functions - Discord blue */
.token.function,
.token.class-name,
.token.selector {
  color: #7289da;
}

/* Operators and variables - Discord light blue */
.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: #72f1b8;
}

/* Builtin - Discord cyan */
.token.builtin {
  color: #00b0f4;
}

/* Deleted */
.token.deleted {
  color: #f04747;
}

/* Important and bold */
.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* Line numbers (optional) */
.line-numbers .line-numbers-rows {
  border-right-color: rgba(75, 85, 99, 0.2);
}
