@import 'tailwindcss';

.btn {
  @apply inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm transition-colors hover:bg-gray-50 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:outline-hidden;
  &:disabled {
    cursor: not-allowed;
    @apply bg-gray-50 text-gray-400;
  }
  .dark & {
    @apply  border-transparent bg-gray-800 text-gray-200 hover:bg-gray-700;
  }
  .dark &:disabled {
    @apply bg-gray-900 text-gray-500;
  }
}

.quiz p {
  margin-bottom: 0.5rem;
}
